# ---- Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
*.log

# ---- Virtual envs
.venv/
venv/
env/

# ---- OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# ---- Secrets / local config
.env
*.env

_upload.jpg

